@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #1a0a0a;
  color: #ddd;
  font-family: 'Press Start 2P', cursive;
  padding: 2rem;
  max-width: 700px;
  margin: auto;
}

h1.kelap-kelip {
  text-align: center;
  font-size: 2rem;
  color: #aa0000;
  animation: quickFlicker 1.2s infinite;
  text-shadow:
    0 0 4px #330000,
    0 0 8px #220000;
}

@keyframes quickFlicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
}

.carousel img {
  width: 300px;         /* ukuran kecil */
  height: auto;
  border: 3px solid #550000;
  box-shadow: 0 0 10px #22000088;
  background-color: #1a1a1a;
  padding: 4px;
  border-radius: 4px;
}

.nav-btn {
  width: 0;
  height: 0;
  border-style: solid;
  background: transparent;
  cursor: pointer;
}

#prevBtn {
  border-width: 20px 28px 20px 0;
  border-color: transparent #550000 transparent transparent;
  margin-right: 12px;
}

#nextBtn {
  border-width: 20px 0 20px 28px;
  border-color: transparent transparent transparent #550000;
}


